/* Footer */
.footer {
  text-align: center;
  font-size: 1.6rem;
  color: #333;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

hr {
  opacity: 0.3;
  margin-bottom: 2rem;
}

.logo {
  width: 80px;
  height: 80px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.active {
  filter: none;
}

h1 {
  font-size: 2rem;
  color: #333333;
  text-align: center;
  margin: 3rem 0;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fadeIn {
  opacity: 1;
}

.cross {
  display: block;
  text-align: right;
  font-size: 3rem;
  cursor: pointer;
}

.card {
  text-align: center;
  margin-top: 1rem;
}

.countParagraph {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
}

.incrementButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #333;
}